*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#050816;
color:white;
overflow-x:hidden;
}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 100px;
position:fixed;
width:100%;
background:rgba(0,0,0,.2);
backdrop-filter:blur(15px);
}

.logo{

font-size:30px;
font-weight:bold;

color:#00d4ff;
}

ul{

display:flex;
gap:30px;
list-style:none;
}

a{

color:white;
text-decoration:none;
}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;
text-align:center;
}

.hero h1{

font-size:80px;
max-width:1000px;
}

.hero span{

color:#00d4ff;
}

.hero p{

font-size:25px;
margin-top:20px;
}

.btn{

margin-top:30px;

padding:15px 40px;

background:#00d4ff;

color:black;

font-weight:bold;

border-radius:50px;
}